<!-- <app-menubar></app-menubar> -->

<a routerLink="/nutrition/{{prod.id}}">
  <div class="product_card">
    <mat-card class="example-card">
      <mat-card-header>
     
        <mat-card-title style="color:black">{{prod.Food}}</mat-card-title>
        <mat-card-subtitle>{{prod.Category}}</mat-card-subtitle>
      </mat-card-header>
      <div class="img">
        <img mat-card-lg-image src="http://localhost/{{prod.image}}">
      </div>
      <mat-card-footer class="footer">
       
      </mat-card-footer>
    </mat-card>
  </div>
</a>