<a routerLink="/nutrition/{{prod.id}}">
  <div class="product_card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="color:black">{{prod.Food}}</mat-card-title>
        <mat-card-subtitle>{{prod.Category}}</mat-card-subtitle>
      </mat-card-header>
      <div class="img">
        <img mat-card-lg-image src="http://localhost/{{prod.image}}">
      </div>
          

    </mat-card>
  </div>
</a>