.ques
{
    width:500px;
    margin-top: 50px;
 
}

.conform
{
    display: flex;
    flex-direction: column;
   
}
#postbtn
{
    width:100px;
}
.example-card {
  
    width:600px;
    align-items: center;   
    padding:20px;
  }
 

  .product_card
{
    float: left;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    margin: 50px;
    margin-left:350px;
    cursor: pointer;
    margin-top: 50px;
    

    
}
.fields
{
    display: flex;
    gap:50px;
    margin-top: 10px;
}

.example-card2
{
    width:100%;
    height: fit-content;
}