<app-miniprod [prod]="products"></app-miniprod>

<table class="table">
  <thead class="thead-dark">
    <th>Nutritional value</th>
  </thead>
  <tbody>
    <tr>
     
      <td>Measure</td>
      <td>{{nvalue.Measure}}</td>
      
    </tr>
    <tr>
     
      <td>Grams</td>
      <td>{{nvalue.Grams}}</td>
     
    </tr>
    <tr>
     
      <td>Calories</td>
      <td>{{nvalue.Calories}}</td>
     
    </tr>
    <tr>
     
      <td>Protein</td>
      <td>{{nvalue.Protein}}</td>
     
    </tr>
    <tr>
     
      <td>Fat</td>
      <td>{{nvalue.Fat}}</td>
     
    </tr>
    <tr>
     
      <td>SatFat</td>
      <td>{{nvalue.SatFat}}</td>
     
    </tr>
    <tr>
     
      <td>Fiber</td>
      <td>{{nvalue.Fiber}}</td>
     
    </tr>
    <tr>
     
      <td>Carbs</td>
      <td>{{nvalue.Carbs}}</td>
     
    </tr>
    
     

  </tbody>
</table>