.example-card {
  
    width:400px;
    height: fit-content;
   
  }
  .img
  {
    text-align: center;
  }

  .product_card
{
    float: left;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin: 20px;
    margin-left:400px;
    cursor: pointer;
    
}
.title
{
    display: flex;
}
.closebtn
{
    margin-left: 200px;
    width:30px;
    height:30px;
    
}

