:host {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .head,.sub
  {
    display: flex;
    justify-content: center;
  }
  .subbtn
  {
    width:200px;
    border: none;
    border-radius: 10px;
    padding:10px;
    background-color: green;
    color:white;
  }