
<div class="below">    
    <div class="card">
        <div><img class="imgstar" src="{{imgsrc}}"  alt=""></div>
        <div class="mainhead">{{mhead}}</div>
        <div class="content">{{description}}</div>
    </div>
</div>
    <!-- <div class="mainimg">

        <div><img class="imgstar" src="http://localhost/star.png" alt=""></div>
        <div><img class="imgstar" src="http://localhost/star.png" alt=""></div>
        <div><img class="imgstar" src="http://localhost/star.png" alt=""></div>

    </div>
   
    <div class="mainhead">
        <h2 class="mhead" *ngFor="let x of mainhead">{{x}}</h2> 

    </div>
    <div class="content">

    </div> -->
