<div class="header">
    <div class="title">
         <!-- <i class="fa-solid fa-heart" style="color: #2ac682;"></i>  -->
        <fa-icon [icon]="icon" class="heart"></fa-icon> 
        <p class="head">Flat Theme</p>
    </div>


    <div class="nav">
        <ul>
            <li><a href="">Contact</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">PortFolio</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Home</a></li>


        </ul>

    </div>

</div>