
.main-card 
{
    width:300px;
}
.product_card
{
    float: left;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin: 50px;
    
}

.img
{
    text-align: center;
}
.name,.price
{
    display: flex;
    justify-content: center; 
}
.price{
    background-color: darkblue;
    border-radius: 5px;
    color:white;
    width: 80px;
    height: 30px;
    margin-left: 110px;
    display: flex;
    align-items: center;
}
.name{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight:bold !important; 
}