/* *
{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
.middle
{
    
    height:350px;
    display: flex;
    height:315px;
    position: static;
    background-image: url("http://localhost/LifeofPI.png");
    background-repeat:no-repeat;
    background-size:cover; 
    background-position-y:-300px;
    
}

.maintxt{
    color: white;
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subtxt
{
    color: white;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title
{
    margin-top: 30px;
    margin-left: 60px;
}

